<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="EbayAutomationProject">

	<listeners>
		<listener class-name="com.qa.ExtentReportListener.ExtentReporterNG" />
	</listeners>


	<test name="Free CRM App Test Cases">
		<classes>
			<class name="com.ebay.qa.testcases.DealsPageTest"></class>
			<class name="com.ebay.qa.testcases.HomePageTest"></class>
			<class name="com.ebay.qa.testcases.SigninPageTest"></class>

		</classes>
	</test>
</suite>